#data {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#record-name {
    font-size: 56px;
    margin-bottom: 20px;
}

#dob-container,
#insurance-container,
#symptoms-container {
    font-size: 24px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}