#data {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#record-name {
    font-size: 64px;
    margin-bottom: 10px;
}

#dob,
#insurance,
#symptoms {
    font-size: 18px;
    margin-bottom: 5px;
}